<div class="max-w-4xl mx-auto" data-controller="two-lines-chart" data-two-lines-chart-payload-value='<%= json_payload %>'>
  <div class="relative h-56">
    <canvas id="myChart" class="h-full w-full"></canvas>
  </div>
</div>
