<h1>Bienvenido</h1>

<nav>
  <ul>
    <li><%= link_to 'Ingresar como Usuario', new_user_session_path %></li>
    <li><%= link_to 'Ingresar como Empresa', new_company_session_path %></li>
    <li><%= link_to 'Productos', '/products' %></li>
  </ul>
</nav>
