
<div class="p-4 border rounded bg-white">
  <h2 class="font-semibold"><%= project.name %></h2>
  <p class="text-sm text-gray-600"><%= project.location %></p>
  <p class="text-xs text-gray-400 mt-2">Constructor: <%= project.owner&.email || 'N/A' %></p>
</div>
