<div class="<%= container_classes %>">
  <ul>
    <% items.each_with_index do |item, idx| %>
      <% label = item[:label] || item["label"] %>
      <% path  = item[:path]  || item["path"] %>
      <% is_last = (idx == items.length - 1) %>

      <li>
        <% if path.present? && !is_last %>
          <%= link_to label, path %>
        <% else %>
          <%= label %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

