<%= render Constructors::Projects::SectionsNavComponent.new(project: @project, current_section: :people) %>

<div class="mt-6 max-w-3xl space-y-6">
  <%= render 'shared/section_header', title: 'Nueva persona', subtitle: 'Cargá los datos básicos del trabajador u oficio.' %>
  <%= render Constructors::Projects::People::PersonFormComponent.new(project: @project, person: @person) %>
</div>
