<div class="container mx-auto p-4">
  <div class="mt-2">
    <%= render 'shared/section_header', title: 'Mis obras', subtitle: 'Gestiona tus proyectos activos y crea nuevas obras' do %>
      <%= render Ui::ButtonComponent.new(label: 'Nueva obra', path: new_constructors_project_path, variant: :primary, size: :sm) %>
    <% end %>
  </div>
  <div id="projects" class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
    <%= render @projects %>
  </div>
</div>
