<%= turbo_frame_tag 'project_form' do %>
  <div class="max-w-lg mx-auto p-4 bg-white rounded shadow">
    <%= render 'shared/header', title: 'New Project' %>
    <%= render 'form', project: @project %>
  </div>
<% end %>
