<h1 class="mb-6 text-2xl font-bold">Productos</h1>

<%= render "shared/search_bar" %>

<%= render 'products/products', products: @products %>

<p class="mb-4"><%= link_to 'View Cart', cart_path, class: 'text-indigo-600 hover:underline' %></p>

<% if user_signed_in? && current_user.company == @company %>
  <p><%= render Ui::ButtonComponent.new(label: 'New Product', path: new_company_product_path) %></p>
<% end %>
